html {
  font-family: Merriweather, serif;
  color: white;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #a63f38;
  margin: 0;
  padding: .3em 0 0;
  padding-bottom: .3em;
}

img {
  width: 40px;
  float: right;
  padding-top: .3em;
}

div {
  float: left;
  padding-top: .3em;
}

header {
  background-color: #d05c2e;
}

body {
  border-right: 1px solid #a63f38;
  border-bottom: 1px solid #a63f38;
  border-left: 1px solid #a63f38;
  margin: 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
  flex: 1;
}

nav li {
  display: inline-block;
  text-align: center;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  border-right: 1px solid #a63f38;
  border-left: 1px solid #a63f38;
  padding: .4em 0;
}

.nav a:hover {
  background-color: #a63f38;
}

.nav .current {
  background-color: #d05c2e;
}
